body{
    text-align: center;
    background: url(art.jpg) center center fixed;
    background-size: cover;   
}

/*Header*/
#header{
     width: 70%;
    background-color: rgba(78,2,2,0.8);
    margin: 10px auto;
    border-radius: 10px;
    font-size: 2.5em;
    color: aliceblue;
    line-height: 40px;
    box-shadow: 0px 3px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px rgba(0,0,0,0.2);
}

/*Input container*/
.inputContainer{
   width: 25em;
    margin: 0 auto;
}

/*Circle*/
#circle{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
}

/*Position of the circle*/
#thicknessInput{
    position: relative;
}

/*Container*/
.container{
    height: 30em;
    background: white;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
    position: relative;
}

/*Canvas*/
#paint{
    background-color: white;
    cursor: crosshair;
    height: 30em;
    width: 100%;
}

#paintColor{
       box-shadow: 0px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);
}

/*Container for buttons*/
#containerButton{
   width: 350px;
   margin: 0 auto;
}

/*Button class*/
.button{
   box-shadow: 0px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);  
}

/*Button class*/
/*
#erase:active{
   background-color: rgba(78,2,2,0.8);    
   box-shadow: 0px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0px 4px rgba(0,0,0,0.2);  
}*/
